.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    padding: 0;
    background: transparent url(../../../images/krest.svg) no-repeat;
    background-position: 50%;
    cursor: pointer;
    border-radius: 2px;
    background-size: 22px 22px;
}

.profile__add-button:hover {
    opacity: 60%;
    transition: 0.4s;
}

@media screen and (max-width: 880px) {
    .profile__add-button {
        width: 282px;
        background-size: 16px 16px;
    }
}